language: go
sudo: false
env:
  global:
  - BINARY_NAME=aws-env
matrix:
  include:
  - os: linux 
    go: 1.10.x
    env:
    - TARGET=darwin
    - ARCH=amd64
  - os: linux
    go: 1.10.x
    env:
    - TARGET=linux
    - ARCH=amd64
  - os: linux
    go: 1.10.x
    env:
    - TARGET=windows
    - ARCH=amd64
    - EXT=.exe
notifications:
  email: false
before_install:
- curl -L -s https://github.com/golang/dep/releases/download/v0.4.1/dep-linux-amd64 -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep
install:
- dep ensure
script:
- make release
deploy:
  provider: releases
  api_key:
    secure: LcpNp6Mc4pCv9FRJfb21RJeRmjl1HR8SUAxWs7ytYrwPs4dtTl7QFWfluSPNpOjQddxnHXxdTpselqY5RtAbDxt+1MSKY6tMHheUuQrqt2ryLJ5oiYDIVYYMOKfaSEmzr456HSCnp5tzcJXqx4O6klBTUcyHXBDj3hFKA29h6geb62NNKIrzQFdlHq0CRmKfjtuFtisUManF7QtTlIu0zsFMESSijE7IkrA2P1YqHF/WpbS1XlSvhLXTqHVI2Cbua+Jji24wDGb8nzF7IGjiN6p2Oj3EQmyQfy8fEfquj5rNCRnQLsFyTS+gpzi/MKpbZdK1BYBPlI6a1IwsSFHtzJPJr1h4azErMZurwPbkR2Gc1qrd9W9UVtkPplzli7Z6/Dq18NmlaMPwz0weik9XUtURWy+7kiCnVMSNdAI/IVvm0pW7Y1ybalC5TmHXm2OBe5j+B/dcVYbPTNMM+z51wiXOn2C+dAKsRHs9z0nJ5KidvZxoLDQl407+cck5SN970h2MlolesfuMVaBltbAr1OzfEicBts0ToVPgoxt6i4/m9aki39LfQadv3UvgkGkQI/PlLf5Gnz9lYEp3IiXEHmeN2Q7oD7w8dnXSkg/s7cfZWfYyAVAprD9h6AlZdk736KhNdPfIJqOKNGepp01eFJhdkxe1yvAM0rjpF54fOHg=
  file: ${BINARY_NAME}-${TARGET}-${ARCH}${EXT}
  on:
    repo: telia-oss/aws-env
    tags: true
