name: test

on: 
  pull_request: {}
  push:
    branches:
      - master

jobs:
  code:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Go
      uses: actions/setup-go@v2
      with: { go-version: 1.16 }
    - name: Install Taskfile
      run: curl -sL https://taskfile.dev/install.sh | sh
    - name: Run tests
      run: ./bin/task test
